@model MobileWorld.Entities.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaoHanh.ChiTietBH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaoHanh.ChiTietBH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhuyenMai.NoiDungKM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuyenMai.NoiDungKM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loai.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loai.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanHieu.TenNhanHieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanHieu.TenNhanHieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanMay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanMay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManHinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManHinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HDH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoNhoTrong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoNhoTrong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoNhoNgoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoNhoNgoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CameraChinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CameraChinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CameraPhu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CameraPhu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmThanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmThanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MauSac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MauSac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
