@model IEnumerable<MobileWorld.Entities.NhanHieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: red;">Nhãn hiệu</h1>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên loại
        </th>
        <th>
            Tên nhãn hiệu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Loai.TenLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNhanHieu)
        </td>
		<td>
			<a href="@Url.Action("Edit", "NhanHieux", new { id = item.MaNhanHieu })"><i style="font-size: 36px;" class="fa fa-edit"></i></a> |||
			<a href="@Url.Action("Delete", "NhanHieux", new { id = item.MaNhanHieu })"><i style="font-size: 36px;" class="fa fa-trash"></i></a>
		</td>
    </tr>
}

</table>
