@model IEnumerable<MobileWorld.Entities.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: red;">Đơn hàng</h1>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Họ tên
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Ngày giao
        </th>
        <th>
            Đã thanh toán
        </th>
        <th>
            Tình trạng giao hàng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaThanhToan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrangGiaoHang)
        </td>
		<td>
			<a href="@Url.Action("Edit", "DonHangs", new { id = item.MaDonHang })"><i style="font-size: 36px;" class="fa fa-edit"></i></a> |||
			<a href="@Url.Action("Delete", "DonHangs", new { id = item.MaDonHang })"><i style="font-size: 36px;" class="fa fa-trash"></i></a>
		</td>
    </tr>
}

</table>
