<div class="header-top">
	<div class="header-top-left">
		<p><b>Hotline:</b> 0945243872</p>
	</div>
	<div class="header-top-center">
		<p>UY TÍN LÀ SỨC MẠNH</p>
	</div>
	<div class="header-top-right">
		<ul>
			@*<li>
				<a href="">Giới thiệu</a>
			</li>
			<li>
				<a href="">Liên hệ</a>
			</li>*@
			@if(ViewBag.Login != null)
			{
				<li>
					<a href="@Url.Action("AccountInfo", "Account")">@ViewBag.Login.Email</a>
				</li>
				<li>
					<a href="@Url.Action("DangXuat", "Account")">Đăng xuất</a>
				</li>
			}
			else
			{
				<li>
					<a href="@Url.Action("Register", "Account")">Đăng kí</a>
				</li>
				<li>
					<a href="@Url.Action("Login", "Account")">Đăng nhập</a>
				</li>
			}
			
		</ul>
	</div>
</div>
<div class="header-bot row">
	<div class="header-bot-left col-md-3 col-xs-12">
		<img src="~/Images/logo.png">
	</div>
	<div class="header-bot-right col-md-9 col-xs-12">
		<ul class="row">
			<li class=" col-md-3 col-xs-12">
				<a href="">TRẢ GÓP</a>
				<p>Mua trả góp</p>
			</li>
			<li class=" col-md-3 col-xs-12">
				<a href="">HỎI ĐÁP</a>
				<p>Mua hàng online</p>
			</li>
			<li class=" col-md-3 col-xs-12">
				<a href="">ĐỔI TRẢ</a>
				<p>Trong 30 ngày</p>
			</li>
			<li class=" col-md-3 col-xs-12">
				<a href="">PHÍ VẬN CHUYỂN</a>
				<p>Vận chuyển toàn quốc</p>
			</li>
		</ul>
	</div>
</div>

